body{
    color: black;
    background-color:#D7BBA8;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: x-large;

}
footer{
   color:white;
   background-color: #5c1e14;
   text-align: center;
   padding: 10px;
   margin-top:80px ;
   position:relative;
}
.títulos{
color: black;
text-align: center;
}
.subtítulos{
    color: black;
    text-align: left;
    margin-right: 10px;
}
.imágenesladoderecho{
    margin-left: 20px;
}
.imágenesladoizquierdo{
    margin-right: 20px;
 
}
/*estos son los "elementos" que voy a usar «» •*/
/*esta parte es el css de la agricultura*/
.laagricultura{
    color: #553E2D;
    text-align: left;
}
.bulletbarra ul {
    list-style: disc;
    color: black;
    font-size: 25px;
}
.listatiposagricultura ul li{   
list-style: none;
padding: 0;
}
.itemlistagri{
    display: flex;
    margin-bottom: 20px;
}
.infolistagri{
    flex: 1; 
    margin-left: 10px;
    margin-right: 10px;
}
.historiaagripr{
    text-align: left;
    color: #553E2D;
}

/*esta parte es el css de huertos caseros*/
.quéeshuertocasero{
 border: 3px, #553E2D, groove;
 margin-top: 10px;
 color: #553E2D;
}
.infoquéeshuertocasero{
 flex: 1;
 margin-right: 10px;
 margin-left: 10px;
}
.itemquéeshuertocasero{
    display: flex;
    margin-bottom: 20px;
}
.cómohacerhuerto ul li {
    text-align: left;
}
.infopasoshacerhuerto{
    text-align: center;
    border-right: 4px solid #2E1E0F;
    padding-right: 10px; 
    border-left: 4px solid #2E1E0F;
    padding-left: 10px;
    color: #553E2D;
}
.alternativahuerto{
    text-align: center;
    color: #553E2D;
}
.listalternativahuerto ul li {
list-style: none;
padding: 0;
}
.itemlistalternativahuerto{
display: flex;
margin-bottom: 20px;
}
.infolistalternativahuerto{
    flex: 1; 
    margin-left: 10px;
    margin-right: 10px;
}

/*esta parte es el css de profesiones*/
.cienciasagrícolas{
    color: #553E2D;
    text-align: center;
}
.subinfocarresasagricolas{
    border-left: 4px solid #2E1E0F;
    border-right: 4px solid #2E1E0F;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    color: black;
}
.list1cienciasagrícolas ul li{
    text-align: left;
    list-style: none; 
    padding:0;
}
.infolist1cienciasagrícolas{
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
}
.itemlist1cienciasagrícolas{
    display: flex;
    margin-bottom: 20px;
}
.list2cienciasagrícolas li{
    text-align: left;
    list-style: none;
    padding: 0;
}
.list3cienciasagrícolas li{
    list-style: none;
    border-bottom: 4px solid #2E1E0F;
    border-right: 4px solid #2E1E0F;
    padding-bottom: 10px;
    padding-right: 10px;
}
/*esta parte es el css de historias de éxito*/
.historiasdeéxito{
    text-align: left;
    color: #553E2D;
}
.listhistoriasdeéxito ul li {
    list-style: none;
    padding: 0;
    }
    .itemlisthistoriasdeéxito{
    display: flex;
    margin-bottom: 20px;
    border-bottom: 4px solid #2E1E0F;
    border-right: 4px solid #2E1E0F;
    padding-bottom: 10px;
    padding-right: 10px;

    }
    .infolisthistoriasdeéxito{
        flex: 1; 
        margin-left: 10px;
        margin-right: 10px;
    }
/*esta parte es el css de nuestro proyecto*/
.nuestroproyecto{
    text-align: left;
    color: #553E2D;
}
.itemnuestroproyecto{
    display: flex;
    margin-bottom: 20px;
}
.infonuestroproyecto{
    flex: 1; 
    margin-left: 10px;
    margin-right: 10px;
}
.nosotras{
    text-align: left;
    color: #553E2D;
}
.infonosotras1{
    border-left: 4px solid #2E1E0F;
    border-right: 4px solid #2E1E0F;
    padding-left: 10px;
    padding-right: 10px;
}
.infonosotras2 li{
    list-style: none;
}
.infonosotras2{
    text-align: left;
    border-top: 3px solid #2E1E0F;
    border-bottom: 3px solid #2E1E0F;
}
.videosemillasdetriunfo{
    display: flex;
    justify-content: center; 
}
.imagenlogo{
    margin-right: 250px;
    margin-top: 40px;
}




/*esta parte es el css de la barra de navegación*/
nav{
    background-color: #5c1e14;
    overflow: hidden;
}
nav a{
    float: left;
    display: block;
    color: wheat;
    text-align: center;
    text-decoration: none;
   
}
.dropdown{
    float: left;
    overflow: auto;
}
.dropdown .drop{
    color:white;
    background-color:#5c1e14;
    border: none;
    text-decoration: none;
    font-size: 80px;
    margin-left: 20px;
}
.btncontent{
    display: none;
    position: absolute;
    background-color: #713021;
    width: 220px;
}
.btncontent a{
    float: none;
    color: black;
    padding: 20px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown:hover .btncontent{
    display: block;
}

.btncontent a:hover {
    background-color: #a4614e;
    color: #553E2D;
}

.logo{
    float: left;
    display: block;
}
